.article__title {
    color: teal;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.article__paragraph {
    line-height: 1.5;
    text-align: center;
}

.article__paragraph--margin {
    margin: 30px 0 30px 0;
}

.article__strong--hobbiesColor {
    color: blue;
}

.article__image {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 16px -13px 15px 1px rgba(0, 0, 0, 0.72);
}

.article__linkToBiography {
    color: teal;
    text-decoration: none;
}

.article__linkToBiography:active {
    color: crimson;
}