.navigation {
    margin-bottom: 30px;
}

.navigation__list {
    display: flex;
    padding: 10px;
    list-style: none;
    justify-content: space-around;
}

.navigation__item {
    flex-basis: 20%;
}

.navigation__link {
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 20px;
}

.navigation__link:hover {
    color: teal;
    background-color: white;
    border-radius: 20px;
    transition: 1;
}