.section__imageBox {
    position: relative;
    width: auto;
    height: 300px;
    margin: 0 auto;
}

.section__myPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    border-radius: 50%;
    box-shadow: 16px -13px 15px 1px rgba(70, 17, 17, 0.459);
}

.section__button--special:hover {
    background-color: teal;
    color: white;
}

.js-hide {
    display: none;
}